body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#background {
    display: flex;
    flex-direction: row;
    background-color: black;
    background-image: url(../images/bg/bg-planets.png);
  
    background-position: center center;  
    background-size: cover;
   
    width: 100%;
    height: 100%;
}

#left {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
 
}

#right {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
}
#loginContainer * {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
}

#loginContainer {
    width: 80%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    max-width: 1024px;

}
 #inputContainer {
     padding: 45px;
     width: 400px;
     border-right: 1px solid lightgray;
     text-align: center; 
 }

 #inputContainer input[type="text"],
 #inputContainer input[type="password"],
 #inputContainer input[type="email"] {

    display:block; 
    background-color: transparent;
     border: 0;
     border-bottom: 1px solid lightgray;
     height: 27px;
     line-height: 27px;
     width: 100%;
 }

#inputContainer label {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    font-size: 13px;
}
 #inputContainer button {
background-color: transparent;
border: 1px solid white;
border-radius: 250px;
color: white;
display: block;
font-size: 14px;
letter-spacing: 1px;
margin: 12 auto;
height: 41px;
width: 100%;

 }

 #inputContainer button:hover {
   cursor: pointer;
   background-color:  rgb(91, 197, 5);
 }

 .hasAccountText {
     font-size: 12px;
     color: lightgray;
     text-align: center;
 }

 .hasAccountText:hover {
     cursor: pointer;
 }

 #registerForm {
     display: none;
 }

 #inputContainer .errorMessage {
     font-size: 14px;
     font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
     padding-bottom: 5px;
     line-height: 35px;
     color: rgb(255, 41, 87);
 }

 #loginText {
    
     color: white;
     position: absolute;
     margin-top: 580px;
     margin-left: 150px;
     z-index: 2;
     font-size: 25px;
     text-shadow: 2px 0px 2px black;
     font-family: 'Coolvetica', Georgia, Times, 'Times New Roman', serif;
     letter-spacing: 2px;
     line-height: 3px;
     text-align: right;
 }
#danceLogo {
    background-color: transparent;
    width: 550px;
    height: 485px;
    position: absolute;
    z-index:1;
    margin-top: 280px;
    margin-left: 80px;
    background-image: url(../images/bg/music.gif);
  
}
 
@media (max-width:1000px){
    #danceLogo  {
        background-image: url(../images/bg/dance_logo_resize.gif);
        background-repeat: no-repeat;
        width: 250px;
        height: 200px;
       
        position: absolute;
        left: 30px;
        top: -250px;
        z-index: 0;
        
    };
}
   @media (max-width:1000px){
    #loginText {
      width: 200px;
      height: 100px; 
      position: absolute;
      left: -130px;
      top: -438px;
      font-size: 12px;
      padding-top: 15px;
     
    };
}

    @media (max-width:1000px){
    #loginContainer {
        margin-top: 230px;
    };
}
   
@media (max-width:1000px) {
    #background {
        background-position-x: 10%;
        
    }
}

