body {
    margin: 0px;
    padding: 0px;
    
}

* {
    
    font-family:'Helvetica Neue', Times, 'Times New Roman', serif;
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 2px;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

#mainSpace {

    display: flex;
    flex-direction: row;
    width: 100%;
    
    
}
#leftBar {
    display: flex;
    flex-direction: row;
    width: 20%;
    min-width: 320px;
  
   
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    min-width: 450 px;
}

@media (max-width: 1000px){
    #leftBar {
        min-width: 220px;  
};

}

#rightSpace {
    display: flex;
    flex-direction: row;
    width: 80%;
   min-height: 90vh;
    background-color: rgb(44, 38, 51);
}

#musicPlayer {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12%;
    background-color:  rgb(31, 19, 41);
    min-width: 650 px;
}

#nowPlayingBar {

    display:flex;
    flex-direction: row;
    height: 90px;
    width:100%;
    padding: 16px;
    box-sizing: border-box;
    background:  rgb(31, 19, 41);
}
#nowPlayingBarLeft,
#nowPlayingBarRight
 {
    min-width: 180px;
    width: 30%;
    background-color: rgb(31, 19, 41);
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingBarCenter
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 40%;
    max-width: 700px;
    background-color: rgb(31, 19, 41);
}

#nowPlayingBar .content {
    width: 100%;
    height: 57px;
}

.playerControls .buttons {
    margin: 5px auto;
    display: table;
}

.controlButton {
    vertical-align: middle;
    background-color: transparent;
    border:none;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img
 {
    width: 32px;
    height: 32px;
}

.controlButton:hover {
    cursor: pointer;
}


.progressTime {

    text-align: center;
    font-size: 11px;
    color: #a0a0a0;
    min-width: 40px;

}

.playbackBar {
    display: flex;
}

.progressBar {
    display: inline-flex;
    width: 100%;
    height: 12px;
    cursor: pointer;
}

.progressBarBg {

    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {

    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
margin-top: 3px;
}

.nowPlayingBarLeft .albumArtwork {

    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}


.leftBarContent {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: flex-start;
    vertical-align: center;
        
    }
.trackInfo {
   
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 6px 6px;
    font-size: 13px;
}

.trackName {
    width: 100%;
   
}

.artistName {
    width: 100%; 
    font-size: 15px;
}

#nowPlayingBarRight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.volumeBar {

    width: 180px;
    
}

.volumeBar .progressBar {
    width: 125px;
}


.groupLeftMenu {

    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
    margin-left: 10px;
    width: 100%; 
    display: inline-flex;
}


.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navBar img {
width: 80px;
height: auto;

}

 .navItem {
     padding: 10px 0;
    
     display: block;
     letter-spacing: 1px; 
     font-size: 14px;
     font-weight: 700;
     position: relative;

 }

 .navItemLink {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 16px;
 }

 .groupLeftMenu img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 280px;
    
 }

 @media (max-width: 1000px)
{
    .groupLeftMenu img {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 180px;
        
     }
}
 .navItemLink:hover {
     color: white;
 }

 .groupLeftMenu input[type="text"] {
     
    display:block; 
    background-color: transparent;
     border: 0;
    outline: none;
     width:100%;
     font-size: 15px;
      
 }

 .groupLeftMenu input[type="text"]:focus {
     outline: none;
 }

 .groupLeftMenu .navItem {
    border-bottom: 1px solid #a0a0a0;
    height: 27px;
    line-height: 27px;
    width: 100%;
    font-size: 15px;
 }

 .groupLeftMenu2 {
     margin-left: 20px;
 }

 #mainContent {
 padding: 0 20px;

 }

 .pageHeadingBig {
     padding: 0 20px;
     text-align: center;
     font-size: 15px;
     
 }

 
 
 .gridViewItem {
     display: inline-block;
     width: 25%;
     max-width: 280px;
     min-width: 230px;
     margin-right: 6px;
     padding: 10px;
     margin-bottom: 10px;
 }

 .gridViewItem img {
     width:100%;
 }

 @media (max-width: 1000px) {

    .gridViewItem img {
        width:100%;
    }
 }

 @media (max-width: 1000px) {

    .gridViewItem{
      
        display: inline-block;
        width: 28%;
        max-width: 250px;
        min-width: 250px;
        margin-right: 6px;
        padding: 6px;

    }
 }

 @media (max-width: 500px) {

    .gridViewItem img {
        width:100%;
    }
 }


 @media (max-width: 500px) {

    .gridViewItem{
      
    display: flex;
    flex-direction: column;
     min-width: 80%;
     margin-left: 6px; 

    }
 }

 .gridViewInfo {
     font-weight: 300;
     text-align: center;
     padding: 5px 0;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;

 }

 .gridViewInfo a {
     text-decoration: none;
     font-weight: 300;

 }

 .entityInfo {

    display: flex;
    flex-direction: row;
    width: 100%;
 }
 .leftSection {
     padding: 40px 0 10px 0;
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .leftSection img {
    display: flex;
    max-width: 500px;
    min-width: 250px;
 }
 .rightSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    
 }

 
 #songsList {

    margin-left: 30px;
    margin-top: 40px;
 }

 @media (max-width: 1000px) {

    .entityInfo {

        display: flex;
        flex-direction: column;
        width: 100%;
     };
    }

 @media (max-width: 1000px) {
    #songsList {

        margin-left: 5px;
        margin-top: 30px;
     };
    }

    @media (max-width: 800px) {
        .leftSection img {
    max-width: 200px;
         };
        }
        
        
      .trackListContainer {
          display: flex;
          flex-direction: row;
          width:100%;
      }


        .tracklist {
            padding-top: 0;
            padding-left: 20px;
            
        }
        
        .trackNumber {
            padding: 4px;
        }

        .tracklistRow {
            height: 40px;
            width: 100%;
            padding: 15px 10px;
            list-style: none;
            display: flex;
            flex-direction: row;
            
        }
        
        .tracklistRow span {
            color: #939393;
            font-weight: 200;
        }
        
        .tracklistRow:hover {
            background-color: #120220;
        }
        
        .tracklistRow .trackCount {
            width: 15%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            
        }
        
        .tracklistRow .trackCount img {
            width: 20px;
            visibility: hidden;
            
            cursor: pointer;
        }
        
        .tracklistRow:hover .trackCount img {
            visibility: visible;
        }
        
        .tracklistRow .trackCount span {
            visibility: visible;
         
            margin-right: 27px;
            

        }
        
        .tracklistRow:hover .trackCount span {
            visibility: hidden;
        }
        
        .tracklistRow .trackInfo {
            display: flex;
            flex-direction: column;
            width: 120%;
            
        }
        
      
        .tracklistRow .trackInfo span {
            display: block;
           margin-top: -10px;
            width: 100%;
           
        }
        
        .trackName {
            overflow: hidden;
           margin-bottom: 5px;
            
        }
        .tracklistRow .trackOptions {
            width: 5%;
           
            text-align: right;
        }
        
        .tracklistRow .trackOptions img {
            width: 15px;
            visibility: hidden;
        }
        
        .tracklistRow:hover .trackOptions img {
            visibility: visible;
        }
        
        .trackDuration {
            width: 42%;
            float: right;
            text-align: right;
        }
        
        .tracklistRow .trackInfo .trackName {
            color: #fff;
            margin-bottom: 7px;
            font-size: 20px;
        }
        
        